name: Update release

on:
  release:
    types:
      - published
  workflow_run:
    workflows:
      - Sync localization
    types:
      - completed

jobs:
  update-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Build target packages
        run: |
          mkdir output
          cp pack.sh output/
          bash output/pack.sh
          rm output/pack.sh
      - name: update release
        run: gh release upload $(git describe --tags $(git rev-list --tags --max-count=1)) $(find ./output -type f -printf "%p ") --clobber
        env:
          GH_TOKEN: ${{ github.token }}
